{
  "all": true,
  "temp-dir": "target/.nyc_output",
  "report-dir": "target/coverage",
  "cache-dir": "target/.cache",
  "exclude-after-remap": false,
  "require": ["ts-node/register/transpile-only"],
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "src/index.ts"
  ],
  "reporter": [
    "lcov",
    "text",
    "clover"
  ]
}
